<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorator="layouts/main">
<head>
    <title>Registration</title>
</head>
<body>

<table  border="1">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Age</th>
        <th>Sold</th>
    </tr>
    <tr>
        <td th:text="${client.username}"></td>
        <td th:text="${ client.password }"></td>
        <td th:text="${ client.email }"></td>
        <td th:text="${ client.age }"></td>
        <td th:text="${ client.sold }"></td>
    </tr>
</table>

<div layout:fragment="UpdateContent">

    <form name="login" th:action="@{/updateAccount}" method="post" class="form-signin">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username"  />
        <br/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"  />
        <br/>
        <label for="age">Age     </label>
        <input type="text" id="age" name="age" class="form-control" placeholder="Age"  />
        <br/>
        <label for="email">Email   </label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email"  />
        <br/>
        <label for="sold">Withdraw/Add Sold   </label>
        <input type="text" id="sold" name="sold" class="form-control" placeholder="Ammount"  />
        <br/>
        <input type="submit" class="button" name="update account" value="Update account" />
        <br/>

    </form>
</div>

</body>
</html>