<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
            layout:decorator="layouts/main">>
<head>
    <meta charset="UTF-8">
    <title>Client Home Page</title>
</head>
<body>

<div layout:fragment="ClientContent">

    <a th:href="@{/clientMatchList}">View all matches</a>
    <br/>
    <a th:href="@{/clientFavouriteList}">View favourite list</a>
    <br/>
    <a th:href="@{/updateAccount}">Account settings</a>
    <br/>
    <a th:href="@{/clientBetList}">View list with bets</a>
</div>


</body>
</html>